
.hero-foot{
  background-color: #383838;
}
.is-boxed
{
  color: #383838;
}

.is-active{
  color: #383838;
}

.navbar-item.is-tab.is-active, .navbar-item.is-tab:hover{
  color: #383838;
  border-bottom-color: #383838;
}

.hero.is-primary .tabs.is-boxed li.is-active a, .hero.is-primary .tabs.is-boxed li.is-active a:hover, .hero.is-primary .tabs.is-toggle li.is-active a, .hero.is-primary .tabs.is-toggle li.is-active a:hover{
  color: #383838;
}

.navbar-item .is-tab .hide{
  display: none;
}

.box{
  margin: 0 auto;
  margin-top: 1.5em;
  max-width: 60em;
}
.content{
  text-align: center;
  position: relative;
  bottom: 1.5em;

}
 h1{
   text-align: center;
   display: inline-block;
   padding-top:
 }

 @media screen and (max-width:480px) {
   #home, #away{
     font-size: 24px;
   }
 }

 #home
 {
   padding-right: 15%;
 }

 #away
 {
   padding-left: 15%;
 }
